#content-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
#sub-header {
  display: flex;
  justify-content: space-between;
}
#filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#title-container {
  display: inline;
}

table {
  width: 100%;
}
.page-title {
  font-size: 20px;
}
