#header-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 40px;
}

#menu-container {
  display: flex;
  align-items: center;
}

#logo {
  height: 70px;
  width: 238px;
}

#slackimage {
  height: 30px;
  width : 100px;
  padding-top : 20px;
}

#slacklink {
  align : right;
  text-align : right;
}