#homepage{
  margin: auto;
  width: 80%;
}

#large-bevans-head{
  max-width: 100%;
  height: auto;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason-card-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color:#FCDAEA;
  flex: 0 1 calc(50% - 1em);
}

.reason-card-1 {  
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color:#FCDAEA;
  flex: 0 1 calc(100% - 1em);
}
