#content-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

#sub-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
  text-align: center;
}

#title-container {
  display: inline;
}

#content-container table {
  width: 95%;
  height: 75%;
}

#content-container tbody {
  text-align: left;
}

.page-title {
  font-size: 25px;
  margin-left: 20px;
}

.timestamp {
  color: gray;
  font-size: 10px;
}

.activity-name {
  font-size: 14px;
  color: #6100a5;
}
