#content-container {
  justify-content: space-between;
}

#sub-header {
  text-align: left;
}

#title-container {
  display: inline;
}

#header-table {
  width: 100%;
  margin-top: 20px;
}

#body-table {
  width: 100%;
  height: 75%;
  margin-top: 20px;
}

.leader-col {
  width:75%;
}

.profile-col {
  width:25%;
}

#content-container thead {
  text-align: left;
}

#content-container tbody {
  text-align: left;
}

.page-title {
  font-size: 25px;
  width:20%;
  margin-left: 20px;
}

.filter {
  width: 80%;
  text-align: right;
}

.timestamp {
  color: gray;
  font-size: 10px;
}

.activity-name {
  font-size: 14px;
  color: #6100a5;
}
