#menu {
  list-style-type: none;
}
#menu > li {
  display: inline;
  margin: 30px;
  cursor: pointer;
}

#menu > li > a:hover {
  color: gray;
}
#menu > li > a:active {
  color: gray;
}

.selected {
  color: gray;
}
