.profile-pic {
  height: 80%;
  width: 80%;
  margin-top: 10%;
}
.profile-container {
  margin-top: 10%;
  border: 1px solid black;
  height: 50vh;
}
.redeemable-text {
  font-size: 12px;
  margin-bottom: 5px;
}
.no-padding {
  margin: 0px;
}
