.rewards-container {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  overflow: auto;
  margin: 20px 20px 10px 20px;
}
.rewards-text {
  display: flex;
  flex-direction: column;
}
.rewards-title {
  font-size: 20px;
  margin-bottom: 10%;
  margin-top: 20px;
}

.rewards-card {
  display: flex;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  max-width: 400px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.rewards-card > img {
  width: 200px;
  height: 200px;
}
